Hangout/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52944/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services" />
  <xs:element name="HashPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HashPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HashPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReviewsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearbyPlaces">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortByType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zipcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearbyPlacesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="GetNearbyPlacesResult" nillable="true" type="q1:TRoot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeatherForecast">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeatherForecastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="GetWeatherForecastResult" nillable="true" type="q2:WStrucResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>